<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/base.css') }}">
    <title>Dependencies for {{ repo_name }}</title>
</head>
<body>
    <div class="home-link">
        <a href="{{ url_for('index') }}">Home</a>
    </div>
    <h1>Dependencies for {{ repo_name }}</h1>
    <ul>
        {% for dependency in dependencies %}
        <li>{{ dependency }}</li>
        {% endfor %}
    </ul>
</body>
</html>
