<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='/css/base.css') }}">
  <title>Flask Dependency Extractor</title>
</head>
<body>
  <h1>Flask Parser</h1>
    <div>
      <a href="{{ url_for('github_login') }}">
        <img src="{{ url_for('static', filename='/images/github-logo.png') }}" 
        width="41px" height="42px" alt="Github logo">
        <p>Login</p>
      </a>
    </div>
  </div>
</body>
</html>